.flex {
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.aling-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.underline {
  border: 2px solid #333;
  border-radius: 7px;
  width: 15vw;
  margin-top: 3px;
}

.underline2 {
  border: 2px solid #333;
  border-radius: 7px;
  width: 11vw;
  margin-top: 3px;
}

.invert {
  filter: invert(1);
}

.open {
  font-weight: 700;
  color: rgb(141, 58, 189);
}
